<div class="container mt-5">
    <div class="row">
        
        <mat-form-field class="example-form-field">
            <mat-label>Digite nombre de la tarea</mat-label>
            <!--Para usilizar el [(ngModel)] es necesatio importar FomrsModule en el app.module.ts-->
            <input matInput type="text" [(ngModel)]="nombreTarea">
            <button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
    </div>
    <div class="col-lg-6 offset-lg-3">
        <div class="card p-2 text-center">
            <h3>No hay tareas para mostrar</h3>
        </div>

    </div>
</div>
